---
const navItems = [
    {
        title: "Inicio",
        url: "#home",
    },
    {
        title: "Sobre mí",
        url: "#about",
    },
    {
        title: "Educación",
        url: "#education",
    },
    {
        title: "Experiencia",
        url: "#experience",
    },
    {
        title: "Proyectos",
        url: "#projects",
    },
];
---

<header
    class="absolute z-50 w-full transition-all duration-300 bg-transparent py-4"
    id="header"
>
    <nav class="flex items-center justify-between max-w-7xl mx-auto px-2">
        <div class="flex lg:flex-1">
            <a href="#home" class="flex items-center space-x-2" data-scroll>
                <div class="relative w-8 h-8">
                    <div
                        class="absolute inset-0 bg-gradient-to-r from-gradient-start to-gradient-end rounded-full"
                    >
                    </div>
                    <img
                        src="/favicon.png"
                        alt="Logo"
                        class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2    "
                    />
                </div>
                <span
                    class="text-xl font-bold bg-clip-text text-transparent bg-gradient-to-r from-gradient-start to-gradient-end animate-gradient"
                >
                    Jhonatan Becerra
                </span>
            </a>
        </div>

        <div class="flex lg:gap-x-8">
            {
                navItems.map(({ title, url }) => (
                    <a href={url} class="relative px-4 py-2 hidden md:block" data-scroll>
                        <span
                            class="relative z-10 text-sm font-medium text-gray-100 transition-colors hover:text-accent"
                            
                        >
                            {title}
                        </span>
                    </a>
                ))
            }
            <a href="#contact" class="relative px-4 py-2" data-scroll>
                <span
                    class="relative z-10 py-3 px-6 text-sm font-medium text-gray-100 transition-colors hover:bg-accent/10 hover:text-accent border border-accent rounded-full"
                    >Contacto</span
                >
            </a>
        </div>
    </nav>
</header>

<script>
    const header = document.getElementById("header");
    window.addEventListener("scroll", () => {
        if (window.scrollY > 0) {
            header?.classList.remove("absolute", "bg-transparent");
            header?.classList.add("fixed", "bg-primary/15", "backdrop-blur-lg");
        } else {
            header?.classList.remove(
                "fixed",
                "bg-primary/15",
                "backdrop-blur-lg",
            );
            header?.classList.add("absolute", "bg-transparent");
        }
    });
</script>
