---
import ContactForm from "../assets/ContactForm";
import { MailIcon, PhoneIcon, LocationIcon } from "../assets/Icons";

const contactInfo = [
    {
        icon: MailIcon,
        title: "Email",
        details: "yonkitas9@gmail.com",
        link: "mailto:yonkitas9@gmail.com",
    },
    {
        icon: PhoneIcon,
        title: "Teléfono",
        details: "+57 301 570 3750",
        link: "tel:+34600123456",
    },
    {
        icon: LocationIcon,
        title: "Ubicación",
        details: "Soacha, Colombia",
        link: "#",
    },
];
---

<section
    id="contact"
    class="py-20 bg-gray-900 overflow-hidden min-h-screen flex items-center justify-center"
>
    <div
        class="absolute inset-0 bg-[radial-gradient(circle_at_30%_50%,rgba(99,102,241,0.1),transparent_50%)]"
    >
    </div>
    <div class="max-w-7xl mx-auto px-8">
        <div class="max-w-3xl mx-auto text-center mb-16">
            <h2 class="text-4xl sm:text-5xl font-bold mb-4">
                <span class="bg-clip-text text-transparent bg-primary"
                    >Trabajemos Juntos</span
                >
            </h2>
            <p class="text-lg text-gray-300">
                ¿Tienes un proyecto interesante? ¡Hablemos!
            </p>
        </div>

        <div class="grid lg:grid-cols-2 gap-10 items-center">
            <div
                class="bg-gradient-to-r from-gradient-start/5 to-gradient-end/5 backdrop-blur-sm rounded-xl p-7 border border-gradient-start/20 gap-4"
            >
                <h2
                    class="text-center text-3xl font-bold mb-4 bg-clip-text text-transparent bg-accent"
                >
                    Información de Contacto
                </h2>
                <div>
                    <p class="text-center text-gray-400 mb-6">
                        Estoy disponible para nuevas oportunidades. ¡No dudes en
                        escribirme!
                    </p>
                    <div class="grid md:grid-cols-2 gap-6">
                        {
                            contactInfo.map((item, index) => (
                                <a
                                    href={item.link}
                                    target="_blank"
                                    rel="noopener noreferrer"
                                    class={`flex items-start bg-gradient-to-r from-gradient-start/5 to-gradient-end/5 backdrop-blur-sm rounded-xl p-4 border border-gradient-start/20 gap-4 hover:shadow-lg transition-shadow ${
                                        index === 2
                                            ? "md:col-span-2 items-center md:flex md:justify-center"
                                            : ""
                                    }`}
                                >
                                    <div class="flex-shrink-0">
                                        <item.icon />
                                    </div>
                                    <div>
                                        <h3 class="font-semibold text-white mb-1">
                                            {item.title}
                                        </h3>
                                        <p class="text-gray-400 group-hover:text-[#63B3ED] transition-colors">
                                            {item.details}
                                        </p>
                                    </div>
                                </a>
                            ))
                        }
                    </div>
                    <button
                        class="mt-8 w-full px-8 py-4 rounded-lg font-medium text-white border border-primary bg-gradient-to-r from-gradient-start/5 to-gradient-end/5 backdrop-blur-sm"
                    >
                        <a
                            class="relative flex items-center justify-center"
                            href="/HV.pdf"
                        >
                            Descargar CV
                        </a>
                    </button>
                </div>
            </div>
            <ContactForm client:load />
        </div>
    </div>
</section>
