---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/sections/Hero.astro";
import About from "../components/sections/About.astro";
import Education from "../components/sections/Education.astro";
import Experience from "../components/sections/Experience.astro";
import Projects from "../components/sections/Projects.astro";
import Contact from "../components/sections/Contact.astro";
---

<div class="bg-gray-900">
	<Layout title="Jhonatan Becerra - Desarrollador Frontend Junior">
		<div class="min-h-screen">
			<Hero />
			<About />
			<Education />
			<Experience />
			<Projects />
			<Contact />
		</div>
	</Layout>
</div>

<script src="/src/assets/scripts/smooth-links.js"></script>
