---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { Toaster } from "solid-toast";
import Analytics from "@vercel/analytics/astro";

interface Props {
	title: string;
	description?: string;
}

const { title, description = "Portafolio profesional de Desarrollo Frontend" } =
	Astro.props;
---

<!doctype html>
<html lang="es" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<link
			href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap"
			rel="stylesheet"
		/>
		<title>{title}</title>
	</head>
	<Header />
	<body>
		<slot />
		<Analytics />
		<Toaster position="bottom-right" client:load />
		<script src="../../node_modules/preline/dist/preline"></script>
	</body>
	<Footer />

	<style>
		html,
		body {
			margin: 0;
			width: 100%;
			height: 100%;
		}
	</style>


</html>
